/* body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #7b7b7b;
}

code {
  font-family: "Roboto", sans-serif;
}

:root {
  --text-color: #7b7b7b;
  --border: 1px solid #474a4d;
  --border-radius: 5px;
}
a {
  color: var(--text-color);
  text-decoration: none;
} */
